body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #d17b49;
    color: white;
    padding: 10px 0;
}

footer {
    background-color: #fff;
    border-top: 1px solid #d17b49;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-shrink: 0; /* Impede que o footer encolha */
}

/* Rodapé */
.bottom-menu {
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 10px 0; /* Ajustando a altura do rodapé */
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.bottom-menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bottom-menu img {
    width: 30px;
    height: 30px;
}

main {
    flex: 1; /* Permite que o main ocupe todo o espaço disponível */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.investimentos-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.investimento-card {
    background-color: #fff;
    border: 1px solid #d17b49;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.investimento-card img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.info-container {
    text-align: left;
}

.info-container p {
    margin: 5px 0;
}

@media (max-width: 600px) {
    .investimento-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .investimento-card img {
        margin: 0 0 10px 0;
        width: 100%;
        height: auto;
    }

    .bottom-menu {
        flex-direction: column;
    }
}

/* Estilo para os links */
a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Faz com que a cor do link herde a cor do texto */
}

a:hover {
    color: #d17b49; /* Altera a cor quando o link for hoverizado */
}
