body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ff9354; /* Adicionando uma cor de fundo */
    text-align: center;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-right: 5px solid #ffff; /* Adicionando a borda à direita */
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 22px); /* Ajustando a largura para o padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

button[type="submit"] {
    background: #d17b49;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button[type="submit"]:hover {
    background: #b06336;
}

p {
    margin-top: 20px;
}

a {
    color: #d17b49;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Media Queries para responsividade */
@media screen and (max-width: 768px) {
    .registration-container {
        width: 90%;
        margin: 20px auto;
        padding: 15px;
    }

    input {
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    button[type="submit"], button[type="button"] {
        padding: 8px;
    }
}
